.products {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.products h2 {
    font-size: 40px;
}

.products .stage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.products .item {
    width: 24%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    background-color: var(--yellow);
    color: white;
}

.products .item .image {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.products .item h3 {
    font-size: 25px;
    margin: 10px 0;
    text-transform: uppercase;
    color: white;
}

.products .item p {
    width: 95%;
    margin: auto;
}

@media (max-width: 640px) {
    .products .item {
        width: 100%; /* Full width on mobile */
    }

    .products h2 {
        font-size: 28px;
    }

    .products .item h3 {
        font-size: 20px;
    }

    .products .item .image {
        height: 200px;
    }
}